<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!--TITLE--></title>
    <link rel="stylesheet" href="links/style.css">
    <link rel="icon" href="media/3dbonehead_blackbg.png" type="image/x-icon">
  </head>
  <body>
    <div class="index">
    <a rel="me" href="https://merveilles.town/@plungepool"></a>
    <a href="home.html"><img src="media/3dbonehead.gif" width="200"><br>
      <img src="media/freeware_logo.bmp" width="200"></a>
    <h4>
      <i>navigate:</i><br>
      <a href="site/music.html">music</a> • 
      <a href="site/visual.html">visual</a> • 
      <a href="site/shows.html">shows</a> • 
      <a href="site/warez.html">warez</a>
      <br>
      <a href="home.html">home</a> • 
      <a href="site/about.html">about</a> • 
      <a href="site/contact.html">contact</a> • 
      <a href="site/index.html">index</a>
      <br>
    </h4>
    </div>
    <div class="content">
      <!--CONTENT-->
    </div>
  </body>
  <footer>
    <div class="footer">
      <!-- FOOTER -->
      <img src="media/libertad.gif">
    </div>
  </footer>
</html>